# Servidor
PORT= 3000  
NODE_ENV= development

# Sessão
SESSION_SECRET= troque-este-valor-por-uma-string-aleatoria-e-segura

# postgree
DATABASE_URL=
# supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Mercado pago
MP_ACCESS_TOKEN= seu_access_token do mercado pago para o server fazer a criação de preferencia
MP_WEBHOOK_SECRET= secret do webhook para validar se realmente vem do mercado pago
APP_URL= url do seu site #coloque a url usada em produção

